@use "../../../styles/mixin" as *;

.recipes-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include breakpoint(medium) {
    flex-direction: row;
    gap: 24px;
  }
  @include breakpoint(large) {
    gap: 42px;
  }
}

.recipes-list,
.recipes-details {
  width: 100%;
  @include breakpoint(medium) {
    width: 50%;
  }
}


