@use "./mixin" as *;
@use "./variables";

.radius {
  border-radius: var(--radius);
}
// ---------------------
// Fonts ---------------
// ---------------------

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  color: var(--text-color);
}

.text-primary {
  color: var(--primary);
}

// ---------------------
// Buttons -------------
// ---------------------

.btn {
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
  width: fit-content;
}

.btn-ronded {
  border-radius: var(--radius);
  padding: 8px 16px;
}

.btn-square {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: white;
  &:hover {
    background-color: var(--primary-dark);
  }
}

.btn-outline-primary {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: white;
  &:hover {
    background-color: var(--gray-100);
  }
}

.btn-danger {
  color: white;
  border: 1px solid var(--danger);
  background-color: var(--danger);
  &:hover {
    background-color: var(--danger-dark);
  }
}

.btn-success {
}

button[disabled] {
  opacity: 0.25;
  cursor: default;
  &:hover {
    background-color: var(--primary);
    border-color: var(--primary);
  }
}

.error {
  color: var(--danger);
}

// ---------------------
// Els------------------
// ---------------------
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  border-radius: var(--radius);
  border: var(--border);
  background-color: var(--gray-50);
  .card-img {
    aspect-ratio: 429 / 318;
    object-fit: cover;
  }
}
.active-item {
  background-color: var(--light);
  border-radius: var(--radius);
  color: var(--primary);
}
.active-link {
  background-color: var(--primary-dark);
  border-radius: var(--radius);
  color: white;
}

// -----------------
.icon {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include breakpoint(large) {
    padding: 4px;
  }
  &.btn {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      background-color: var(--gray-100);
      opacity: 0.5;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.4s ease;
      z-index: 0;
      pointer-events: none;
    }
    &:hover {
      &:after {
        transform: translate(-50%, -50%) scale(1.3);
      }
    }
  }
}

// Moments els:
.recipe-moment--item {
  padding: 0;
  display: block;
  width: fit-content;
  &:before {
    width: 32px;
    height: 32px;
    background-color: var(--primary-light);
  }
}
.moment-matin {
  position: relative;
  grid-column: 1;
  &:before {
    @include icon(morning);
  }
}
.moment-midi {
  position: relative;
  grid-column: 2;
  &:before {
    @include icon(sun);
    margin-left: 2px;
  }
}
.moment-soir {
  position: relative;
  grid-column: 3;
  &:before {
    @include icon(evening);
  }
}

// Form:
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include breakpoint(large) {
    gap: 24px;
  }
}
.form-item {
  display: flex;
  flex-direction: column;
}
input {
  border: var(--border);
  border-radius: 6px;
  padding: 12px;
  font-family: var(--font-family);
  &.ng-invalid.ng-touched {
    border-color: var(--danger);
  }
}

label {
  margin-bottom: 4px;
}
