:root {
  --font-family: "Montserrat", sans-serif;
  --text-color: #222;
  --gray-100: #dfe6e9;
  --gray-700: #2c3a47;
  --light: #e9d5ff;
  --primary: #22ce5b;
  --primary-dark: #13883a;
  --success: #00ff5e;
  --error: #ff0000;
  --error-dark: #bd0000;
  --warning: #ffbb00;
  --border: 1px solid var(--gray-100);
  --radius: 24px;
}
