nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
}

.nav--section {
  display: flex;
  gap: 4px;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
